.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 8.4rem;

    &--navbar {
        display: flex;
        align-items: center;

        &__brand {
            letter-spacing: calc(3.6rem * 0.07);
            margin-right: 7.4rem;
        }
        
        &__nav {
            display: flex;
        }

        &__item {
            color: var(--text-muted);
            letter-spacing: calc(1.8rem * 0.07);
            margin: 0 1.6rem;
        }
    }
    &--label {
        width: 37.5rem;
    }
    &--searchbar {
        width: 100%;
        height: 4.8rem;
        padding: 0 1.8rem;
        border-radius: 2.4rem;
        background-color: var(--primary-300);
        letter-spacing: calc(1.8rem * 0.07);
        &::placeholder {
            color: var(--text-muted);
        }
    }
}

.dropdown {
    position: absolute;
    width: 37.5rem;
    max-height: 58.8rem;
    top: 105%;
    right: 0;
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 1.2rem;
    background-color: var(--primary-300);

    &--item {
        padding: 0.6rem 1.2rem;
        transition: all 0.35s ease-in-out;
        &:hover {
            opacity: 0.5;
        }
        &__thumbnail {
            height: 13.5rem;
        }
        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1.2rem;
        }
        &__title {
            margin-bottom: 0.4rem;
        }
        &__director {
            color: var(--text-muted);
        }
    }
    &::-webkit-scrollbar-track {
        background: transparent;
        height: 5rem;
    }
    
    &::-webkit-scrollbar-thumb {
        border-radius: 0.4rem;
        background: transparent;
    }
}

@media (max-width: 769px) {
    .header {
        margin: 0;
        flex-direction: column;
        &--navbar {
            flex-direction: column;
            margin-bottom: 1.8rem;
            &__brand {
                margin: 0 auto 1.8rem;
            }
        }
        &--label {
            width: 100%;
        }
        &--searchbar {
            width: 100%;
        }
    }

    .dropdown {
        width: 100%;
        max-height: 80vh;
        &--item {
            &__thumbnail {
                height: 27.5rem;
            }
        }
    }
}

@media (max-width: 1367px) {
    .header {
        margin: 0;
        &--label {
            flex: 1;
        }
        &--searchbar {
            width: 100%;
        }
    }

    .dropdown {
        width: 75%;
        max-height: 80vh;
        &--item {
            &__thumbnail {
                height: 27.5rem;
            }
        }
    }
}